.button.price_on_request_button {
    font: 700 17px/21px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    border: 1px solid;
    border-color: #0079b6 #006fa8 #012740 #006fa8; }
.button.price_on_request_button span {
    border: 1px solid;
    border-color: #06b2e6;
    padding: 10px 14px;
    display: block;
    background: #009ad0;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#009ad0), to(#007ab7));
    background-image: -webkit-linear-gradient(top, #009ad0, 0%, #007ab7, 100%);
    background-image: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
    background-image: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF009AD0', endColorstr='#FF007AB7', GradientType=0); }
.button.price_on_request_button:hover {
    border-color: #01314e #004b74 #0079b6 #004b74; }
.button.price_on_request_button:hover span {
    filter: none;
    background: #0084bf; }

.por-button {text-align: center; margin: 20px 10px; clear: both;}

#priceonrequest,#priceonrequest_alert {display:none;}
#priceonrequest {padding: 30px;}
#por-header,#priceonrequest_alert {font-size: 18px; font-weight: bold; text-align: center; margin-bottom: 20px; }
#priceonrequest input, #priceonrequest textarea {width: 100%;}